{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "mocha": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "requireConfigFile": false,
    "project": ["packages/**/tsconfig.json"]
  },
  "plugins": ["import", "@typescript-eslint"],
  "extends": ["airbnb-typescript"],
  "rules": {
    "import/no-unresolved": 2,
    "import/no-commonjs": 2,
    "no-console": 0,
    "import/prefer-default-export": 0,
    "import/no-default-export": 1,
    "import/extensions": [2, "ignorePackages"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-param-reassign": ["error", { "props": false }],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }],
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/comma-dangle": "off",
    "react/jsx-filename-extension": "off"
  }
}
