body {
  background-color: black;
}
#canvas {
  width: 80%;
  height: 80%;
  margin: 5% auto;
  display: block;
}
#fps {
  position: absolute;
  background-color: black;
  border: 2px solid red;
  text-align: center;
  font-size: 16px;
  color: white;
  top: 15px;
  right: 80px;
  width: 60px;
  height: 20px;
}
#speedometer {
  position: absolute;
  background-color: black;
  border: 2px solid blue;
  text-align: center;
  font-size: 16px;
  color: white;
  top: 15px;
  right: 10px;
  width: 60px;
  height: 20px;
}
#players {
  position: absolute;
  top: 10;
  left: 10;
  color: white;

  h2 {
    font-size: 14px;
  }
}
.mobile-controls {
  position: absolute;

  &.acceleration {
    right: 0;
    bottom: 0;

    button {
      display: block;
    }
  }

  &.turning {
    bottom: 0;
    left: 0;
  }

  button {
    width: 60px;
    height: 60px;
    margin: 5px;
    user-select: none;
  }
}

.hide {
  display: none;
}
