#users {
  h2 {
    font-size: 14px;
  }

  .you {
    color: green;
  }
}

.users-list {
  &__elem {
    &::marker {
      color: red;
    }

    &--connected::marker {
      color: green;
    }
  }
}

#users-indicators {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: block;
  border: 1px solid #333;
  display: flex;

  .users-indicator {
    width: 100%;
    color: #fff;
  }
}
